<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="newPassword" 
        name="password"
        required
        minlength="6"
        #password="ngModel">
      </ion-input>
    </ion-item>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="ion-padding-start ion-padding-top">
      <div *ngIf="password.errors?.['required']" class="error-message">
        Password is required
      </div>
      <div *ngIf="password.errors?.['minlength']" class="error-message">
        Password must be at least 6 characters long
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="confirmPassword" 
        name="confirmPassword"
        required>
      </ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button 
        expand="block" 
        type="submit"
        [disabled]="!form.valid || newPassword !== confirmPassword">
        Update Password
      </ion-button>
    </div>
  </form>
</ion-content>