# Angular Default
/dist
/.angular/cache
/.angular
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json.lock

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# System Files
.DS_Store
Thumbs.db
ehthumbs.db

# Environments (COMENTADO PARA QUE VERCEL PUEDA CONSTRUIR)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# src/environments/environment.prod.ts  <-- ESTA LINEA LA HEMOS QUITADO

# Ionic & Capacitor
/www
/platforms
/plugins
/.ionic
/ios/App/App/public
/android/app/build
/android/.gradle
/android/local.properties
/android/*.iml
/ios/*.mode1v3
/ios/*.mode2v3
/ios/*.movetrash
/ios/*.pbxuser
/ios/derivedData

# Capacitor specific
capacitor.config.json.timestamp
/coverage

# Vercel
.vercel