<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="stores" routerLink="/tabs/stores">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>Tiendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" routerLink="/tabs/map">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" routerLink="/tabs/cart">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
      <ion-badge *ngIf="cartService.getTotalItems() > 0" color="danger" class="cart-badge">
        {{ cartService.getTotalItems() }}
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button (click)="navigateToProfile()">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
