<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    <h1 class="title">Register</h1>
    <p class="subtitle">Create your account</p>

    <form class="register-form" (ngSubmit)="register()">
      <ion-item>
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="fullName" 
          name="fullName"
          placeholder="ferdinand Sinaga">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          name="email"
          placeholder="ferdinand@gmail.com">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input 
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          placeholder="********">
        </ion-input>
        <ion-icon 
          [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" 
          slot="end"
          (click)="togglePassword()">
        </ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Repeat Password</ion-label>
        <ion-input 
          [type]="showConfirmPassword ? 'text' : 'password'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="********">
        </ion-input>
        <ion-icon 
          [name]="showConfirmPassword ? 'eye-outline' : 'eye-off-outline'" 
          slot="end"
          (click)="toggleConfirmPassword()">
        </ion-icon>
      </ion-item>


      <ion-button expand="block" type="submit" class="register-btn">
        Register
      </ion-button>

      <p class="login-text">
        I have an account? <a (click)="goToLogin()">Log in</a>
      </p>
    </form>
  </div>
</ion-content>